<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.music.mapper.MmsSongMapper">

    <resultMap type="MmsSong" id="MmsSongResult">
        <result property="id" column="id"/>
        <result property="songId" column="song_id"/>
        <result property="songName" column="song_name"/>
        <result property="songDuration" column="song_duration"/>
        <result property="songUrl" column="song_url"/>
        <result property="songImgUrl" column="song_img_url"/>
        <result property="songStatus" column="song_status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="editBy" column="edit_by"/>
        <result property="editTime" column="edit_time"/>
        <result property="revision" column="revision"/>
        <result property="isDel" column="is_del"/>
        <collection property="singers" column="song_id"
                    select="com.ruoyi.music.mapper.MmsSongSingerMapper.selectSimpleSingerBySongId"/>
        <collection property="albums" column="song_id"
                    select="com.ruoyi.music.mapper.MmsSongAlbumMapper.selectSimpleAlbumBySongId"/>
        <collection property="alias" column="song_id"
                    select="com.ruoyi.music.mapper.MmsSongAliasMapper.selectSongAliasBySongId"/>
        <collection property="tagNames" column="song_id"
                    select="com.ruoyi.music.mapper.MmsSongTagMapper.selectTagNameBySongId"/>
    </resultMap>

    <resultMap id="SimpleSongVoResult" type="SimpleSongVo">
        <result property="songId" column="song_id"/>
        <result property="songName" column="song_name"/>
    </resultMap>

    <sql id="selectMmsSongVo">
        select ms.id,
               ms.song_id,
               ms.song_name,
               ms.song_duration,
               ms.song_url,
               ms.song_img_url,
               ms.song_status,
               ms.create_by,
               ms.create_time,
               ms.edit_by,
               ms.edit_time,
               ms.revision,
               ms.is_del
        from mms_song ms
    </sql>

    <select id="selectMmsSongList" parameterType="SongParamsVo" resultMap="MmsSongResult">
        <include refid="selectMmsSongVo"/>
        INNER JOIN mms_song_album sa on ms.song_id = sa.song_id
        INNER JOIN mms_album a on a.album_id = sa.album_id
        INNER JOIN mms_song_singer ss on ss.song_id = ms.song_id
        INNER JOIN mms_singer s on s.singer_id = ss.singer_id
        <where>
            ms.is_del =0
            <if test="songId != null">and ms.song_id = #{songId}</if>
            <if test="singerId != null">and ss.singer_id = #{singerId}</if>
            <if test="albumId != null">and sa.album_id = #{albumId}</if>
            <if test="songStatus != null">and sa.song_status = #{songStatus}</if>
            <if test="songName != null and songName != '' ">and ms.song_name like concat(#{songName} ,'%')</if>
            <if test="singerName != null and singerName != '' ">and s.singer_name like concat(#{singerName} ,'%')</if>
            <if test="albumName != null and albumName != '' ">and a.album_name like concat(#{albumName} ,'%')</if>
        </where>
    </select>

    <select id="selectMmsSongById" parameterType="Long" resultMap="MmsSongResult">
        <include refid="selectMmsSongVo"/>
        where ms.id = #{id} and ms.is_del =0
    </select>

    <select id="selectSongNameBySongId" resultType="java.lang.String">
        select song_name
        from mms_song
        where song_id = #{songId}
          and is_del = 0
    </select>

    <select id="listSimpleSong" resultMap="SimpleSongVoResult">
        select song_id, song_name
        from mms_song
        where is_del = 0
    </select>

    <select id="selectSongBySongId" resultMap="MmsSongResult">
        <include refid="selectMmsSongVo"/>
        where ms.song_id = #{songId} and ms.is_del =0
    </select>
    <select id="selectSimpleSongsBySongName" resultMap="SimpleSongVoResult">
        select song_id,song_name
        from mms_song
        where is_del =0
        <if test=" songName != null and songName !=''">and song_name like concat(#{songName},'%')</if>
        <if test="songName == null or songName ==''">limit 100</if>


    </select>

    <insert id="insertMmsSong" parameterType="MmsSong" useGeneratedKeys="true" keyProperty="id">
        insert into mms_song
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="songId != null">song_id,</if>
            <if test="songName != null">song_name,</if>
            <if test="songUrl != null">song_url,</if>
            <if test="songImgUrl != null">song_img_url,</if>
            <if test="songDuration != null">song_duration,</if>
            <if test="songStatus != null">song_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="editBy != null">edit_by,</if>
            <if test="editTime != null">edit_time,</if>
            <if test="revision != null">revision,</if>
            <if test="isDel != null">is_del,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="songId != null">#{songId},</if>
            <if test="songName != null">#{songName},</if>
            <if test="songUrl != null">#{songUrl},</if>
            <if test="songImgUrl != null">#{songImgUrl},</if>
            <if test="songDuration != null">#{songDuration},</if>
            <if test="songStatus != null">#{songStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="editBy != null">#{editBy},</if>
            <if test="editTime != null">#{editTime},</if>
            <if test="revision != null">#{revision},</if>
            <if test="isDel != null">#{isDel},</if>
        </trim>
    </insert>

    <update id="updateMmsSong" parameterType="MmsSong">
        update mms_song
        <trim prefix="SET" suffixOverrides=",">
            <if test="songId != null">song_id = #{songId},</if>
            <if test="songName != null">song_name = #{songName},</if>
            <if test="songUrl != null">song_url = #{songUrl},</if>
            <if test="songImgUrl != null">song_img_url = #{songImgUrl},</if>
            <if test="songStatus != null">song_status = #{songStatus},</if>
            <if test="songDuration != null">song_duration = #{songDuration},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="editBy != null">edit_by = #{editBy},</if>
            <if test="editTime != null">edit_time = #{editTime},</if>
            <if test="revision != null">revision = #{revision},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
        </trim>
        where id = #{id}
    </update>


    <delete id="deleteMmsSongById" parameterType="Long">
        update mms_song
        set is_del =1
        where id = #{id}
    </delete>

    <delete id="deleteMmsSongByIds" parameterType="String">
        update mms_song set is_del =1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>