<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.music.mapper.MmsTagMapper">

    <resultMap type="MmsTag" id="MmsTagResult">
        <result property="id"    column="id"    />
        <result property="tagId"    column="tag_id"    />
        <result property="tagName"    column="tag_name"    />
        <result property="tagParentsId"    column="tag_parents_id"    />
        <result property="tagStatus"    column="tag_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="editBy"    column="edit_by"    />
        <result property="editTime"    column="edit_time"    />
        <result property="revision"    column="revision"    />
        <result property="isDel"    column="is_del"    />
    </resultMap>

    <sql id="selectMmsTagVo">
        select id, tag_id, tag_name, tag_parents_id, tag_status, create_by, create_time, edit_by, edit_time, revision, is_del from mms_tag
    </sql>

    <select id="selectMmsTagList" parameterType="MmsTag" resultMap="MmsTagResult">
        <include refid="selectMmsTagVo"/>
        <where>
            is_del = 0
            <if test="tagId != null "> and tag_id = #{tagId}</if>
            <if test="tagName != null  and tagName != ''"> and tag_name like concat('%', #{tagName}, '%')</if>
            <if test="tagParentsId != null "> and tag_parents_id = #{tagParentsId}</if>
            <if test="tagStatus != null "> and tag_status = #{tagStatus}</if>
            <if test="editBy != null  and editBy != ''"> and edit_by = #{editBy}</if>
            <if test="editTime != null "> and edit_time = #{editTime}</if>
            <if test="revision != null "> and revision = #{revision}</if>
        </where>
    </select>
    
    <select id="selectMmsTagById" parameterType="Long" resultMap="MmsTagResult">
        <include refid="selectMmsTagVo"/>
        where id = #{id} and is_del =0
    </select>
    <select id="hasChildByTagId" resultType="java.lang.Integer">
        select count(1)
        from mms_tag
        where tag_parents_id = #{tagId} and is_del = 0
    </select>
    <select id="selectMmsTagByTagId" resultMap="MmsTagResult">
        <include refid="selectMmsTagVo"/>
        where tag_id=#{tagId} and is_del =0
    </select>

    <insert id="insertMmsTag" parameterType="MmsTag" useGeneratedKeys="true" keyProperty="id">
        insert into mms_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tagId != null">tag_id,</if>
            <if test="tagName != null">tag_name,</if>
            <if test="tagParentsId != null">tag_parents_id,</if>
            <if test="tagStatus != null">tag_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="editBy != null">edit_by,</if>
            <if test="editTime != null">edit_time,</if>
            <if test="revision != null">revision,</if>
            <if test="isDel != null">is_del,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tagId != null">#{tagId},</if>
            <if test="tagName != null">#{tagName},</if>
            <if test="tagParentsId != null">#{tagParentsId},</if>
            <if test="tagStatus != null">#{tagStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="editBy != null">#{editBy},</if>
            <if test="editTime != null">#{editTime},</if>
            <if test="revision != null">#{revision},</if>
            <if test="isDel != null">#{isDel},</if>
         </trim>
    </insert>

    <update id="updateMmsTag" parameterType="MmsTag">
        update mms_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="tagName != null">tag_name = #{tagName},</if>
            <if test="tagParentsId != null">tag_parents_id = #{tagParentsId},</if>
            <if test="tagStatus != null">tag_status = #{tagStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="editBy != null">edit_by = #{editBy},</if>
            <if test="editTime != null">edit_time = #{editTime},</if>
            <if test="revision != null">revision = #{revision},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMmsTagById" parameterType="Long">
        update mms_tag set is_del = 1 where id = #{id}
    </delete>

    <delete id="deleteMmsTagByTagIds" parameterType="String">
        update mms_tag set is_del = 1 where tag_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>